<div class="container-fluid center-block home">
    <div class="row">
        <div class="col-sm-12 centered home-image">
            <img src="images/Cooking-Collage.jpg" alt="Cooking for everyone!" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h1>Welcome!</h1>
            <p class="lead "> Please check out all the cool new courses by our innovative and creative chefs. </p>
            <p> If you want to see a new course, click <a href="/vacations ">the courses page</a> and explore! </p>
            <p>If you want to check out a culinary vacation, click <a href="/vacations ">the vacations page</a>. </p>
            <p> When you see a course you like you can <a href="/contact ">contact us to join! </a> Soon you'll be cooking in your own home. </p>
        </div>

        <div class="col-sm-4 bg-info culinary-vacation-desc">
            <em> <h3 class="bg-primary text-center ">NEW: Culinary Vacations!!!</h3></em>
            <p>
              Take a second to look over our very latest offerings: Combine your love of food and learning how to cook with a trip to other lands to meet and be educated by famous chefs from a range of cuisines right in their home countries using the freshest, local
              ingredients.
            </p>
            <p>
              Our cooking tours generally include:
              <ul>
                  <li>Accommodations</li>
                  <li>Cooking lessons in English</li>
                  <li>Excursions that explore the local culture and cuisine</li>
                  <li>Extraordinary food and wine</li>
              </ul>
              <p>Cooking vacations generally last between 2 and 7 nights and can be confirmed for as few as two people.</p>
            </p>
            <p>
              <strong>Check out all our latest vacation packages and book soon. They are really selling like "hotcakes "! </strong>
            </p>
            <a class="btn btn-primary center-block " href="/vacations " role="button ">View Vacation Packages</a>
            <br />
        </div>
    </div>
</div>